body{
	background : linear-gradient(to left,rgb(0,110,255),rgb(0,255,255));	
}	
h1 {
	text-align: center;
	color : rgb(139,0,0);
    font-size: 40px;
    font-family: Georgia, serif;
}
.button{
	width : 80px ;
	height : 70px ;
	font-size: 35px;
	margin : 1px ;
	cursor : pointer;
	background : #BDB76B;
	border : none ;
	color : yellow ;
    padding: 15px 32px;
	text-align: center;
    text-decoration: none;
	display: inline-block;	
}
.button:hover{
	background : rgb(250, 235, 215);
	color : Brown;
}
#clear{
	width: 340px;
}
.Abdalla{
	position : absolute;
	top : 20% ;
	left : 40% ;
}
.Fadl{
	font-size: 30px;
	border: 2px solid red;
    border-radius: 4px;
	width: 330px;
	height  : 60px; 
}
	

